

/* styling the header */
.header {
    text-align: center;
}

/* styling the first page*/
.firstPage {
    padding: 40px;
    background-image: url(images/cloudy.jpeg);
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
}

.firstPage-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.search-bar {
    background-color: transparent ;
    padding: 10px;
    border: 5px solid gray;
    border-radius: 50px;
    width: 260px;
}

.search-bar .form {
    display: flex;
    align-items: center;
}

.search-bar .form label{
    font-size: 35px;
    margin-right: 5px;
}

.search-bar .form input{
    font-size: 20px;
    padding: 5px;
    border: 0px;
    border-radius: 5px;
    width: 130px;
    background-color: transparent;
    outline: none;
}

.search-bar .form button {
    font-size: 20px;
    margin:0px 3px;
    border-radius: 0px 20px 20px 0px;
    height: 40px;
    border: 0px;
    background-color: gray;
}

.search-bar .form button:hover {
    cursor: pointer;
    background-color: #6DAFFE;
    color: white;
}

.firstPage-weather {
    text-align: center;
}

.firstPage-weather > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.firstPage-weather img {
    width: 250px;
    margin: 0px;
    padding: 0px;
}

.firstPage-weather h1 {
    padding: 5px;
    font-size: 40px;
    margin: 0px;
}

.currentWeather {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
    background-color: gray;
    border-radius: 10px;
}

.currentWeather > div {
    display: flex;
    margin:20px 40px;
}

.currentWeather > div > div {
    margin: 5px;
}

.currentWeather i {
    font-size: 30px;
}

.currentWeather img {
    width: 50px;
}

.currentWeather text {
    font-size: 25px;
    font-weight: bold;
}

/* styling the footer*/
footer {
    text-align: center;
    color: white;
    background-color: black;
    padding: 10px;
}

footer .social-icons {
    height: 35px;
    margin: 5px;
}

footer .social-icons i {
    margin: 20px;
}

footer .social-icons i:hover {
    color: #6DAFFE;
    font-size: 25px;
    cursor: pointer;
    direction: rtl;
}