

body {
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navLinks ul{
    display: flex;
}

.navLinks ul li {
    margin-left: 20px;
    list-style-type: none;
}

.navLinks ul li a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

.navLinks ul li a:hover {
    background-color: green;
    border-radius: 10px;
    transition: 1s;
}

.logo {
    color: green;
}

.heading h1 {
    text-align: center;
    font-size: 40px;
}

.heading a {
    color: green;
}

.imageAndInfo {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 10px;
    background-color: gray;
    border-radius: 10px;
}

.image img {
    border-radius: 10px;
    width: 700px;
}

.prepTimes {
    display: flex;
    justify-content: space-between;
}

h3 {
    color: green;
}

.ingredients ul li{
    padding: 2px;
}

.homePage-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.homePage-image img {
    margin: 20px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

