body {
    background-image: url(images/pexels-karolina-grabowska-6256066.jpg);
    background-size: contain;
    color: white;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 75%;
    max-width: 500px;
    padding: 10px;
    background-color: black;
    border: 5px solid white;
    border-radius: 60px;
}

.calculator > div {
    background-color: rgb(37, 36, 36);
    padding:30px 30px 40px 30px;
    border: 1px solid white;
    border-radius: 50px;
}

.display {
    min-height: 100px;
    background-color: WHITE;
    color: #3500D3;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

.keyboard {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
                        "clear clear backspace divide"
                        "one two three plus"
                        "four five six minus"
                        "seven eight nine multiple"
                        "decimal zero equal equal";
}

button {
    background-color: rgb(69, 67, 67);
    color: #3500D3;
    margin: 5px;
    height: 50px;
    border: 2px solid black;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    min-width: 40px;
}

button:hover {
    cursor: pointer;
    background-color: black;
} 

.clear-btn {
    grid-area: clear;
}

.backspace-btn {
    grid-area: backspace;
}

.divide {
    grid-area: divide;
}

.one {
    grid-area: one;
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;
}

.add {
    grid-area: plus;
}

.four {
    grid-area: four;
}

.five {
    grid-area: five;
}

.six {
    grid-area: six;
}

.subtract {
    grid-area: minus;
}

.seven {
    grid-area: seven;
}

.eight {
    grid-area: eight;
}

.nine {
    grid-area: nine;
}

.multiple {
    grid-area: multiple;
}

.decimal {
    grid-area: decimal;
}

.zero {
    grid-area: zero;
}

.equals-btn {
    grid-area: equal;
}






