* {
    color: #e0f2fe;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
}

body {
    padding: 0px;
    border: 0px;
    margin: 0px;
    background: linear-gradient(90deg, #38bdf8, #0284c7, black, black);
    /*background-image: url(images/Free-Nature-Iphone-Background-HD1-Portrait-01-1.webp);*/
    
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 200px 1fr;
    grid-template-areas:
        "side header"
        "side main";
}

img {
    max-width: 100%;
}

p {
    text-align: justify;
}

.header {
    background-color: #0c4a6e;
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "search-bar search-bar"
        "header2 header2";
    gap: 15px;
    padding: 10px;
}

.search-bar {
    grid-area: search-bar;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 0px 1px;
}

.search-bar div {
    padding-left: 10px;
    padding-right: 10px
}

.search {
    width: 50%;
    background-color: #082f49;
    border-radius: 10px;
} 

.search input {
    width: 100%;
    font-size: 20px;
    outline: none;
}

.search button {
    border: 0px;
    background: transparent;
}

.search button:hover {
    cursor: pointer;
    transition: 0.2s;
}

.search i{
    font-size: 20px;
    color: black;
}

.search-bar .search input{
    width: 50%;
    border: 0px;
    background: transparent;
}

.search-right-items {
    display: flex;
    align-items: center;
}

.header2 {
    background-color: #082f49;
    border-radius: 20px;
    grid-area: header2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "user-info user-info buttons";
    gap: 15px;
}

.user-info {
    grid-area: user-info;

    display: flex;
    align-items: center;
}

.user-info img {
    width: 50px;
    border-radius: 50%;
    padding: 15px;  
}

.user-info strong {
    font-size: 15px;
}

.buttons {
    grid-area: buttons;
    display: flex;
    justify-content: right;
    gap: 10px;
    padding: 10px;
}

.buttons button {
    background-color: #082f49;
    border-radius: 10px;
}

.buttons button:hover {
    box-shadow: 0px 0px 10px;
    cursor: pointer;
    color: #0284c7;
    transition: 0.2s;
}

.sidebar {
    background-color: #082f49;
    grid-area: side;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr;
    grid-template-areas:
        "branding"
        "navigation";
    gap: 15px;
    padding: 15px;
}

.branding {
    grid-area: branding;
    display: flex;
    justify-content: center;
    align-items: center;

    position: sticky;
    top: 3%;
}

.branding img {
    width: 60px;
}

.branding-name strong{
    font-size: 20px;
} 

.navigation {
    grid-area: navigation;
}

.navigation div {
    position: sticky;
    top: 20%;
}

.main {
    grid-area: main;
    display: grid;
    grid-template-columns: 3fr 3fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "projects projects announce-Trend"
        "projects projects announce-Trend"
        "projects projects announce-Trend";
    gap: 15px;
    padding: 15px;
}

.projects {
    grid-area: projects;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:  
        "card1 card2"
        "card3 card4"
        "card5 card6";
    gap: 15px;
    padding: 15px;
}



.card {
    background-color: #0369a1;
    box-shadow: inset -3px 3px 3px white;
    /*opacity: 0.5;*/
    border-radius: 10px;
}

.card:nth-child(1) {
    grid-area: card1;
}

.card:nth-child(2) {
    grid-area: card2;
}

.card:nth-child(3) {
    grid-area: card3;
}

.card:nth-child(4) {
    grid-area: card4;
}

.card:nth-child(5) {
    grid-area: card5;
}

.card:nth-child(6) {
    grid-area: card6;
}

.announce-Trend {
    grid-area: announce-Trend;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    padding: 15px;
}

.AT-card {
    background-color: #0369a1;
    box-shadow: inset -3px 3px 3px white;
    /*opacity: 0.5;*/
    border-radius: 10px;
}



.AT-card img:hover {
    width: 100px;
    transition: 2s;
}

.first-ATcard div {
    padding: 20px;
}

.first-ATcard h1 {
    box-shadow: 0px 0px 15px;
}

/* making sure of that the website is responsive and it changes the view when the view width gets too small */

@media (max-width: 1024px) {
    .projects {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 500px);
        grid-template-areas: initial;
    }

    .card {
       grid-area: initial !important; 
    }

    .main {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: initial;
    }

    .projects {
        grid-area: initial !important;
    }

    .announce-Trend {
        grid-area: initial !important;
    }

    /* making the sidebar responsive */
    .branding strong {
        display: none;
    }

    .navigation strong {
        display: none;
    }

    /*setting hover style for the navigation*/
    .navigation i:hover {
        text-shadow: 0px 0px 15px #7dd3fc;
    }

}

.navigation i {
    color: black;
    display: flex;
    padding: 15px;
    font-size: 20px;
}

.navigation i:hover {
    padding-left: 10px;
    font-size: 25px;
    color: #0284c7;
    cursor: pointer;
    transition: 0.2s;
}

.navigation strong {
    padding-left: 15px;
    font-size: 15px;
}

.navigation strong:hover {
    text-shadow: 3px 3px 25px;
}

.user-picture img {
    width: 40px;
    border-radius: 50%;
}

.reminder i {
    color: black;
    font-size: 20px;
    padding-left: 30px;
}

.reminder i:hover {
    cursor: pointer;
    font-size: 25px;
    text-shadow: 0px 0px 15px #7dd3fc;
    transition: 0.2s;
}

.project-content {
    padding: 20px;
}

.project-content button {
    background-color: #082f49;
    border-radius: 5px;
}

.project-content button:hover {
    box-shadow: 0px 0px 10px;
    cursor: pointer;
}

.process-languages {
    display: flex;
    padding-bottom: 10px;
}

.process-languages div {
    padding-right: 20px;
}

.process-languages i {
    font-size: 20px;
    align-items: center;
    justify-content: center;
}

.process-languages h6 {
    margin: 0px;
}



