 * {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 body {
    margin: 0px;
    height: 100vh;
    background-color: gray;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 70px 1fr 70px;
    grid-template-areas: "header header"
                         "side-bar main"
                         "footer footer";
 }


/* styling the header ................................................................*/
.header {
    grid-area: header;
    background-color: aqua;
    
    padding-left: 20px;
 }

 .header h1 i {
    padding-right: 5px;
 }


 /* styling the side-bar..............................................................*/
.side-bar {
    grid-area: side-bar;
    background-color: brown;
}


/* styling the main  .................................................................*/ 
.main {
    grid-area: main;
    background-color: blue;
}

/* styling the list item */

.list-item {
    display: flex;
    margin: 20px;
    background-color: gray;
    border-radius: 15px;
}

.item-properties {
    margin:0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.priority-box {
    width: 20px;
    background-color: red;
}

 /* styling the footer ...............................................................*/
.footer {
    grid-area: footer;
    background-color: black;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.social-icons i {
    margin-right: 15px;
}

